In [18]:
# We import the libraries need to read/write the dataset

import os
import pandas as pd

In [233]:
# For clarity, we extarct the path and file name

DATASET_PATH = 'NHANES/2017-2018/'
EXCEL_FILE = 'TCHOL_J.csv'

In [234]:
# We store all the excel data in a variable called dataset

data_path = os.path.join(DATASET_PATH, EXCEL_FILE)
dataset = pd.read_csv(data_path)

In [235]:
# We see if everything got imported properly by measuring the no. of columns and no. of rows

dataset.shape

(7435, 3)

In [236]:
# We see if have the correct excel file imported

dataset.head()

    SEQN  LBXTC  LBDTCSI
0  93705  157.0     4.06
1  93706  148.0     3.83
2  93707  189.0     4.89
3  93708  209.0     5.40
4  93709  176.0     4.55

In [237]:
# We drop all the features we don't need to clean

# dataset.drop(["BMXRECUM", "BMXHEAD", "BMDSTATS", "BMIWT", "BMIRECUM", "BMIHEAD", "BMIHT", "BMDBMIC", "BMXLEG", "BMILEG", "BMXARML", "BMIARML", "BMXARMC", "BMIARMC", "BMIWAIST", "BMXSAD1", "BMXSAD2", "BMXSAD3", "BMDSADCM", "BMXSAD4", "BMDAVSAD"], axis=1, inplace=True)
# dataset.drop(["BPQ030", "BPD035", "BPQ040A", "BPQ050A", "BPQ056", "BPD058", "BPQ059", "BPQ080", "BPQ060", "BPQ070", "BPQ090D", "BPQ100D"], axis=1, inplace=True)

# dataset.drop(dataset.columns.difference(["SEQN", "RIDAGEYR", "RIDRETH3"]), 1, inplace=True)
# dataset.drop(dataset.columns.difference(["SEQN", "PAQ665"]), 1, inplace=True)
dataset.drop(dataset.columns.difference(["SEQN", "LBXTC"]), 1, inplace=True)

In [241]:
# We count how many null/empty values we have for each feature

null_columns=dataset.columns[dataset.isnull().any()]
dataset[null_columns].isnull().sum()

Series([], dtype: float64)

In [240]:
# We delete all the null/empty values of the column specified

dataset = dataset.dropna(axis=0, subset=['LBXTC'])

# Re-run this command until all null/empty values from the features we are selecting are removed

In [242]:
# create excel writer object
writer = pd.ExcelWriter('2017-2018-TCHOL_J.xlsx')

# write dataframe to excel
dataset.to_excel(writer)

# save the excel
writer.save()

print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.